Host undercloud-root
    Hostname {{ undercloud_floating_ip }}
    IdentityFile {{ key_file }}
    IdentitiesOnly yes 
    User root
    StrictHostKeyChecking no

Host undercloud
    Hostname {{ undercloud_floating_ip }}
    IdentityFile {{ key_file }}
    IdentitiesOnly yes 
    User stack
    StrictHostKeyChecking no
