# OpenStack cloud details

username: <username>
password: <user password>
tenant_name: <tenant_name>
auth_url: http://<cloud_auth_url>:5000/v2.0
key_file: <key_file>
key_name: <key_name>

# Deployment details

prefix: <prefix>
image: rhel-7.3-beta
undercloud_flavor: m1.xlarge
bm_flavor: tripleo
overcloud_nodes_count: 2
