# This role used for setting up the needed configuration to connect the stack resources, such as the undercloud.

- name: Add undercloud to in-memory inventory
  add_host:
    name="undercloud"
    hostname="{{ undercloud_floating_ip }}"
    groups="all,undercloud,tester"
    ansible_ssh_host="{{ undercloud_floating_ip }}"
    ansible_fqdn="{{ undercloud_floating_ip }}"
    ansible_ssh_user=stack
    ansible_ssh_private_key_file="{{ key_file }}"

- name: Wait for undercloud to become reachable
  local_action:
    module: wait_for_ssh
      host="{{ undercloud_floating_ip }}"
      user=root

- name: Deploy ssh.config.ansible file
  template:
    src=ssh_config.j2
    dest="{{ inventory_dir }}/ssh.config.ansible"
    mode=0755

- name: Deploy inventory file
  template:
    src=inventory.j2
    dest="{{ inventory_dir }}/{{ prefix }}hosts"
